body, p {
    margin:0px;
    padding:0px;
}

body {
    background-color:#C9CDD5;
    color:#C9CDD5;
}


.container {
    position: relative;
    width: 85%;
    height:210px;
    padding:0px;
    background-color:#050D1C;
    border: 3em solid #050D1C;
    border-width: 0 3em;
    margin:0 auto;
}

.top_Bar {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: #212225;
    text-align:right;
    cursor: pointer;
}

.top_Bar p {
    color:#C9CDD5;
    padding-right:5px;
    text-shadow: -1px 2px 3px #DCD7BF;
}

.login {
    position: absolute;
    z-index:1000;
    right:0px;
    top:25px;
    width:350px;
    height: auto;
    display:none;
    text-shadow: -1px 2px 3px #BCC5D5;
    background-color:#212225;
}
.login p {
   padding: 5px 5px;
}
.content {
    position: relative;
    width:100%;
    top:35px;
    height:auto;
    background-color:#050D1C;
}
.content p {
  padding: 5 5 5 5;
}

#navigation {
    font-family: verdana;
    width:100%;
    font-size: 14px;
    list-style: none;
    background-color:#212225;
}

#navigation li {
    float:left;
    border-right: solid 1px #212225;    
    height: 35px;
}

#navigation li a:link, #navigation li a:visited {
    color: #DCD7BF;
    text-decoration: none;
    display:block;
    height: 35px;
    line-height: 35px;
    padding: 0 14px;
    text-transform: uppercase;
}

.firstItem{
    border-left: solid 1px #212225;
}


.lastItem{
    border-right: solid 1px #212225;
}

#navigation a:hover{
    background-color: #2A2307;
    text-decoration: underline;
}
