body, p {
    margin:0px;
    padding:0px;
    background-color:#31353D;
    color:#92CDCF;
}


.container {
    position: relative;
    width: 80%;
    height:210px;
    padding:0px;
    background-color:#EEEFF7;
    border: 3em solid #EEEFF7;
    border-width: 0 3em;
}

.login_container {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: #31353D;
    text-align:right;
    cursor: pointer;
}

.login_container p {
    color:#445878;
    padding-right:5px;
    text-shadow: -1px 2px 3px #000;
}

.login_extended {
    position: absolute;
    right:0px;
    top:25px;
    width:350px;
    height: auto;
    display:none;
    background-color:#31353D;
}
.content {
    position: relative;
    width:100%;
    top:35px;
    left:5px;
    height:auto;
    background-color:#31353D;
}